<table>
	<thead>
		<tr>
			<th>Task Name</th>
			<th>Description</th>
			<th>Status</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td>{{task_name}}</td>
			<td>{{description}}</td>
			<td>{{status}}</td>
		</tr>
	</tbody>
</table>

<p>Go to <a href="{% url 'index' %}">home</a>.</p>